<h2>Add Resource</h2>

<form action="/resources/add-resource" method="post">

<label for="">Resource Name</label>
<input type="text" name="name">

<label for="">Description</label>
<input type="text" name="description">

<label for="">Grade</label>
<input type="text" name="grade">

<label for="">Subject</label>
<input type="text" name="subject">

<label for="">Image</label>
<input type="text" name="imageUrl">

<button type="submit">Add Resource</button>

</form>
