<h2>Find Resource</h2>

<form action="/resources/find-resource" method="post">
    <label for="">Grade</label>
    <select name="grade" id="grade">
        <option value="">Select Grade</option>
        <option value="Kinder">Kinder</option>
        <option value="1st">1st Grade</option>
        <option value="2nd">2nd Grade</option>
        <option value="3rd">3rd Grade</option>
        <option value="4th">4th Grade</option>
        <option value="5th">5th Grade</option>
    </select>
   
     <label for="">Subject</label>
       <select name="subject" id="subject">
        <option value="">Select Subject</option>
        <option value="Art">Art</option>
        <option value="Math">Math</option>
        <option value="Music">Music</option>
        <option value="Reading">Reading</option>
        <option value="Science">Science</option>
        <option value="Social Studies">Social Studies</option>  
    </select>

    <button type="submit">Search</button>
</form>

{{#if errorMessage}}
        <p class="error">{{errorMessage}}</p class="error">
{{/if}}

{{!-- <label for="">Grade</label> --}}
{{!-- <input type="text" name="grade" placeholder="Grade"> --}}
{{!-- <input type="text" name="subject" placeholder="Subject"> --}}




