<h2>Find Resource</h2>
<form action="/resources/find-resource" method="post">
  <input type="text" name="grade" placeholder="Grade">
  <input type="text" name="subject" placeholder="Subject">


   <button type="submit">Search</button>
</form>