<h1>Welcome to {{title}}</h1>
<div class="cover-container">
    <div class="cover-left">
        <img src="/images/coverpic.png" alt="sammy-woman img">
        <button class="cover-btn">
            <a href="/resources/all-resources">Check Resources!</a>
        </button>
    </div>
</div>



{{!-- Add some nice cover here --}}
