<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <nav>
      <ul>
        <li id="to-left">
          <p><a href="/"> Teachers R.E </a></p>
        </li>
          <li id="to-right">
            <a href="/users/signup">SignUp</a> <span> | </span>
            <a href="/users/login">Login</a>  <span> | </span>
            <a href="/users/profile">Profile</a>  <span> | </span>
            <a href="/resources/all-resources">All Resources</a>  <span> | </span>
            <a href="/users/logout">Logout</a>  <span> | </span>
        </li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
